<!-- Contenido del sitio -->
<div class="container-fluid content">

    <!-- Carousel Flyers -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/smileyWorld" target="_self">
                    <img src="Img/smiley.png" class="d-block w-100" alt="Ámbar & © Smiley">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/accesoriosTextiles" target="_self">
                    <img src="Img/freespirit.png" class="d-block w-100" alt="Free Spirit">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/beauty" target="_self">
                    <img src="Img/beauty.png" class="d-block w-100" alt="Ámbar Beauty">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Productos Infantiles -->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <div class="col-3 margen filtro">
                <a href="/theKidsShop" target="_self">
                    <img src="Img/TheKidsShop.jpg" class="d-block w-100" alt="The Kids Shop">
                </a>
            </div>
            <!-- Carousel de productos -->
            <div class="col-9">
                <div id="carouselProductos" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <!-- Producto 1 -->
                                <div class="col-4 margen">
                                    <!-- figure: encapsula la figura, estructura visualmente el contenido. -->
                                    <figure class="product">
                                        <div class="image-container">
                                            <a href="#" target="_self">
                                                <img src="Img/MochilaMinnie.jpg" class="d-block w-100"
                                                    alt="Mochila Minnie">
                                            </a>
                                            {{#if persona}}
                                            <!-- Si el usuario está logueado añadir al carrito -->
                                            <form action="/admin/carrito/agregar" method="POST">
                                                <input type="hidden" name="id_producto" value="73">
                                                <input type="hidden" name="cantidad" value="1">
                                                <button type="submit" class="add-to-cart">Añadir al carrito</button>
                                            </form>
                                            {{else}}
                                            <!-- Si no está logueado redirigir al login -->
                                            <a href="/admin/login" target="_self">
                                                <button class="add-to-cart">Añadir al carrito</button>
                                            </a>
                                            {{/if}}
                                        </div>
                                        <!-- figcaption: proporciona una descripción asociada a la figura -->
                                        <figcaption class="description">Mochila de Minnie Mouse "Disney"<br>
                                            <span class="precio">$&nbsp;32.000</span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- Producto 2 -->
                                <div class="col-4 margen">
                                    <figure class="product">
                                        <div class="image-container">
                                            <a href="#" target="_self">
                                                <img src="Img/MochilaMinnie2.jpg" class="d-block w-100"
                                                    alt="Mochila Minnie 2">
                                            </a>
                                            {{#if persona}}
                                            <!-- Si el usuario está logueado añadir al carrito -->
                                            <form action="/admin/carrito/agregar" method="POST">
                                                <input type="hidden" name="id_producto" value="74">
                                                <input type="hidden" name="cantidad" value="1">
                                                <button type="submit" class="add-to-cart">Añadir al carrito</button>
                                            </form>
                                            {{else}}
                                            <!-- Si no está logueado redirigir al login -->
                                            <a href="/admin/login" target="_self">
                                                <button class="add-to-cart">Añadir al carrito</button>
                                            </a>
                                            {{/if}}
                                        </div>
                                        <figcaption class="description">Mochila de Minnie Mouse "Disney"<br>
                                            <span class="precio">$&nbsp;32.000</span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- Producto 3 -->
                                <div class="col-4 margen">
                                    <figure class="product">
                                        <div class="image-container">
                                            <a href="#" target="_self">
                                                <img src="Img/GorroTejido.jpg" class="d-block w-100"
                                                    alt="Gorro Infantil Tejido">
                                            </a>
                                            {{#if persona}}
                                            <!-- Si el usuario está logueado añadir al carrito -->
                                            <form action="/admin/carrito/agregar" method="POST">
                                                <input type="hidden" name="id_producto" value="59">
                                                <input type="hidden" name="cantidad" value="1">
                                                <button type="submit" class="add-to-cart">Añadir al carrito</button>
                                            </form>
                                            {{else}}
                                            <!-- Si no está logueado redirigir al login -->
                                            <a href="/admin/login" target="_self">
                                                <button class="add-to-cart">Añadir al carrito</button>
                                            </a>
                                            {{/if}}
                                        </div>
                                        <figcaption class="description">Gorro Infantil Tejido<br>
                                            <span class="precio">$&nbsp;6.000</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <!-- Parte 2 Carousel -->
                        <div class="carousel-item">
                            <div class="row">
                                <!-- Producto 4 -->
                                <div class="col-4 margen">
                                    <figure class="product">
                                        <div class="image-container">
                                            <a href="#" target="_self">
                                                <img src="Img/Piluso Minnie.jpg" class="d-block w-100"
                                                    alt="Piluso Minnie">
                                            </a>
                                            {{#if persona}}
                                            <!-- Si el usuario está logueado añadir al carrito -->
                                            <form action="/admin/carrito/agregar" method="POST">
                                                <input type="hidden" name="id_producto" value="58">
                                                <input type="hidden" name="cantidad" value="1">
                                                <button type="submit" class="add-to-cart">Añadir al carrito</button>
                                            </form>
                                            {{else}}
                                            <!-- Si no está logueado redirigir al login -->
                                            <a href="/admin/login" target="_self">
                                                <button class="add-to-cart">Añadir al carrito</button>
                                            </a>
                                            {{/if}}
                                        </div>
                                        <figcaption class="description">Piluso de minnie mouse "disney"<br>
                                            <span class="precio">$&nbsp;15.900</span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- Producto 5 -->
                                <div class="col-4 margen">
                                    <figure class="product">
                                        <div class="image-container">
                                            <a href="#" target="_self">
                                                <img src="Img/Set Unicornio.jpg" class="d-block w-100"
                                                    alt="Set de librería de unicornio">
                                            </a>
                                            {{#if persona}}
                                            <!-- Si el usuario está logueado añadir al carrito -->
                                            <form action="/admin/carrito/agregar" method="POST">
                                                <input type="hidden" name="id_producto" value="66">
                                                <input type="hidden" name="cantidad" value="1">
                                                <button type="submit" class="add-to-cart">Añadir al carrito</button>
                                            </form>
                                            {{else}}
                                            <!-- Si no está logueado redirigir al login -->
                                            <a href="/admin/login" target="_self">
                                                <button class="add-to-cart">Añadir al carrito</button>
                                            </a>
                                            {{/if}}
                                        </div>
                                        <figcaption class="description">Set de librería de unicornio<br>
                                            <span class="precio">$&nbsp;14.000</span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- Producto 6 -->
                                <div class="col-4 margen">
                                    <figure class="product">
                                        <div class="image-container">
                                            <a href="#" target="_self">
                                                <img src="Img/Cap Minnie.jpg" class="d-block w-100" alt="Cap Minnie">
                                            </a>
                                            {{#if persona}}
                                            <!-- Si el usuario está logueado añadir al carrito -->
                                            <form action="/admin/carrito/agregar" method="POST">
                                                <input type="hidden" name="id_producto" value="57">
                                                <input type="hidden" name="cantidad" value="1">
                                                <button type="submit" class="add-to-cart">Añadir al carrito</button>
                                            </form>
                                            {{else}}
                                            <!-- Si no está logueado redirigir al login -->
                                            <a href="/admin/login" target="_self">
                                                <button class="add-to-cart">Añadir al carrito</button>
                                            </a>
                                            {{/if}}
                                        </div>
                                        <figcaption class="description">Cap de minnie mouse "disney"<br>
                                            <span class="precio">$&nbsp;11.900</span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductos"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProductos"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div> <!-- Fin Carousel -->
        </div>
    </div> <!-- Fin Productos Infantiles -->

    <!-- Ver Categorias Img -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-4 margen filtro">
                <!-- Enlace lleva a categoria Accesorios textiles-->
                <a href="/accesoriosTextiles" target="_self">
                    <img src="Img/invierno.jpg" class="d-block w-100" alt="Textil Invierno">
                </a>
            </div>
            <div class="col-4 margen filtro">
                <!-- Enlace lleva a categoria Bijou-->
                <a href="/bijou" target="_self">
                    <img src="Img/bijou.jpg" class="d-block w-100" alt="Bijou">
                </a>
            </div>
            <div class="col-4 margen filtro">
                <!-- Enlace lleva a categoria Accesorios de Pelo-->
                <a href="/accesoriosPelo" target="_self">
                    <img src="Img/pelo.jpg" class="d-block w-100" alt="Pelo">
                </a>
            </div>
        </div>
    </div> <!-- Fin Categorias Img -->
</div>

<!-- Contenedor de punta a punta (Localizador de Tiendas) -->
<div class="container-fluid mt-5 destacado3">
    <div class="row">
        <h2><i class="bi bi-geo-alt"></i></h2>
        <h2>Localizador de tiendas</h2> <br>
        <br>
        <h4>Encontrá tu tienda más cercana</h4>
        <br> <br>
        <a href="/tiendas" target="_self">
            <button type="button" class="btn btn-primary">Ver tiendas</button>
        </a>
    </div>
</div> <!-- Fin Contenedor (Localizador de Tiendas) -->