<!-- Contenido del sitio -->
<div class="container-fluid content" data-user-logged-in="<%= userLoggedIn %>"></div>

    <!-- Banner -->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <div class="col margen">
                <a href="/nuevo" target="_self">
                    <img src="Img/Nuevo.jpg" class="d-block w-100" alt="Banner Nuevo!">
                </a>
            </div>
        </div>
    </div>

    <!-- Productos Nuevos Fila 1-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 1 -->
            <div class="col-3 margen">
                <!-- figure: encapsula la figura, estructura visualmente el contenido. -->
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ChokerCorazón.jpg" class="d-block w-100" alt="Choker de corazón bubble">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="1">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <!-- figcaption: proporciona una descripción asociada a la figura -->
                    <figcaption class="description">Choker de corazón bubble<br>
                        <span class="precio">$&nbsp;3.700</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 2 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/SetAros.jpg" class="d-block w-100" alt="Set de aros gota">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="2">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Set de aros gota<br>
                        <span class="precio">$&nbsp;6.200</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 3 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ArosChunky.jpg" class="d-block w-100" alt="Aros chunky">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="3">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Aros chunky<br>
                        <span class="precio">$&nbsp;2.500</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 4 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ChokerCorazón2.jpg" class="d-block w-100" alt="Choker de corazón bubble 2">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="4">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <!-- figcaption: proporciona una descripción asociada a la figura -->
                    <figcaption class="description">Choker de corazón bubble<br>
                        <span class="precio">$&nbsp;3.700</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div> <!-- Fin Productos Fila 1 -->

    <!-- Productos Nuevos Fila 2-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 5 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ArosCortosChunky.jpg" class="d-block w-100" alt="Aros cortos chunky">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="5">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Aros cortos chunky<br>
                        <span class="precio">$&nbsp;2.500</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 6 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ChokerPerlas.jpg" class="d-block w-100" alt="Choker de perlas">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="6">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Choker de perlas<br>
                        <span class="precio">$&nbsp;4.700</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 7 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ArosMoño.jpg" class="d-block w-100" alt="Aros de moño">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="7">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Aros de moño<br>
                        <span class="precio">$&nbsp;3.700</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 8 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/ArgollasCorazones.jpg" class="d-block w-100" alt="Argollas con corazones">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="8">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Argollas con corazones<br>
                        <span class="precio">$&nbsp;4.700</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div> <!-- Fin Productos Fila 2 -->

</div> <!-- Fin Contenedor del sitio -->

<br>
<br>