<!-- Contenido del sitio -->
<div class="container-fluid content">

    <!-- Banner -->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row banner">
            <h4>Cuidado de la piel</h4>
        </div>
    </div>

    <!-- Productos Cuidado de la piel Fila 1-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 1 -->
            <div class="col-3 margen">
                <!-- figure: encapsula la figura, estructura visualmente el contenido. -->
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/SérumHidratante.jpg" class="d-block w-100"
                                alt="Sérum hidratante para labios #lipcare">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="41">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Sérum hidratante para labios #lipcare<br>
                        <span class="precio">$&nbsp;6.200</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 2 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/SetPinzas.jpg" class="d-block w-100" alt="Set de mini pinzas">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="42">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Set de mini pinzas<br>
                        <span class="precio">$&nbsp;3.700</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 3 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/PrimerHidratante.jpg" class="d-block w-100" alt="Primer hidratante">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="43">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Primer hidratante<br>
                        <span class="precio">$&nbsp;4.700</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 4 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/PrimerMatificante.jpg" class="d-block w-100" alt="Primer matificante de base">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="44">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Primer matificante de base "#skinsaver<br>
                        <span class="precio">$&nbsp;9.900</span>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- Fin Productos Fila 1 -->
    </div>

    <!-- Productos Cuidado de la piel Fila 2-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 5 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/SerumHumectante.jpg" class="d-block w-100"
                                alt="Serum humectante vol. 1 acf by dadatina">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="45">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Serum humectante vol. 1 acf by dadatina<br>
                        <span class="precio">$&nbsp;20.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 6 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/Fotoprotector.jpg" class="d-block w-100" alt="Fotoprotector acf by dadatina">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="46">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Fotoprotector acf by dadatina<br>
                        <span class="precio">$&nbsp;25.700</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 7 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/BrumaReparadora.jpg" class="d-block w-100"
                                alt="Bruma reparadora acf by dadatina">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="47">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Bruma reparadora acf by dadatina<br>
                        <span class="precio">$&nbsp;17.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 8 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/TónicoExfoliante.jpg" class="d-block w-100" alt="Tónico exfoliante">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="48">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Tonico exfoliante "oh my skin hero"<br>
                        <span class="precio">$&nbsp;7.700</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div> <!-- Fin Productos Fila 2 -->

</div>

<br>
<br>