<!-- Contenido del sitio -->
<div class="container-fluid content">

    <!-- Banner -->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row banner">
            <h4>Accesorios Textiles</h4>
        </div>
    </div>

    <!-- Productos Accesorios Textiles Fila 1-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 1 -->
            <div class="col-3 margen">
                <!-- figure: encapsula la figura, estructura visualmente el contenido. -->
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/BufandaBásica.jpg" class="d-block w-100" alt="Bufanda básica">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="33">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <!-- figcaption: proporciona una descripción asociada a la figura -->
                    <figcaption class="description">Bufanda básica<br>
                        <span class="precio">$&nbsp;25.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 2 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/BufandaClassic.jpg" class="d-block w-100" alt="Bufanda classic">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="34">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Bufanda classic<br>
                        <span class="precio">$&nbsp;20.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 3 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/BufandaBásica2.jpg" class="d-block w-100" alt="Bufanda básica 2">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="35">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Bufanda básica<br>
                        <span class="precio">$&nbsp;25.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 4 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/CapTachas.jpg" class="d-block w-100" alt="Cap con tachas">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="36">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Cap con tachas<br>
                        <span class="precio">$&nbsp;9.900</span>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- Fin Productos Fila 1 -->
    </div>

    <!-- Productos Accesorios Textiles Fila 2-->
    <div class="container-fluid" style="margin: 5px;">
        <div class="row">
            <!-- Producto 5 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/PilusoEstampa.jpg" class="d-block w-100" alt="Piluso con estampa">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="37">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Piluso con estampa<br>
                        <span class="precio">$&nbsp;13.900</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 6 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/GorroGatito2.jpg" class="d-block w-100" alt="Gorro de gatito">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="38">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Gorro de gatito<br>
                        <span class="precio">$&nbsp;9.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 7 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/BufandaClassic2.jpg" class="d-block w-100" alt="Bufanda classic 2">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="39">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Bufanda classic<br>
                        <span class="precio">$&nbsp;20.000</span>
                    </figcaption>
                </figure>
            </div>
            <!-- Producto 8 -->
            <div class="col-3 margen">
                <figure class="product">
                    <div class="image-container">
                        <a href="#" target="_self">
                            <img src="Img/CuelloAcanalado.jpg" class="d-block w-100" alt="Cuello acanalado">
                        </a>
                        {{#if persona}}
                        <!-- Si el usuario está logueado añadir al carrito -->
                        <form action="/admin/carrito/agregar" method="POST">
                            <input type="hidden" name="id_producto" value="40">
                            <input type="hidden" name="cantidad" value="1">
                            <button type="submit" class="add-to-cart">Añadir al carrito</button>
                        </form>
                        {{else}}
                        <!-- Si no está logueado redirigir al login -->
                        <a href="/admin/login" target="_self">
                        <button class="add-to-cart">Añadir al carrito</button>
                        </a>
                        {{/if}}
                    </div>
                    <figcaption class="description">Cuello acanalado<br>
                        <span class="precio">$&nbsp;16.000</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div> <!-- Fin Productos Fila 2 -->

</div>

<br>
<br>